{% extends "webapp/base.html" %}{% load static %}

{% block title %}Framework {% endblock %}

{% block preload %}{{block.super}}
  <link href="{{ request.scheme }}://{{ request.get_host }}{% static "compiled/js/framework.js" %}" rel="preload" as="script" />
  {# <link href="{{ request.scheme }}://{{ request.get_host }}{% static "compiled/css/framework.css" %}" rel="preload" as="style" /> #}
{% endblock %}

{% block css %}{{block.super}}
  {# <link href="{{ request.scheme }}://{{ request.get_host }}{% static "compiled/css/framework.css" %}" rel="stylesheet" /> #}
{% endblock %}

{% block js %}{{block.super}}
  <script>
    window.aurochs = window.aurochs || {};
    window.aurochs.page = "framework";
    {% include "webapp/_root_urls.html" %}
    window.aurochs.data = window.aurochs.data || {};

    {{js_data}}
    window.aurochs.data.user = window.aurochs.data.users['{{request.user.ox_id}}'];
    window.aurochs.data.config = {'use_24_hour': {{use_24_hour_times}}};
    window.aurochs.user = window.aurochs.data.users['{{request.user.ox_id}}'];
  </script>
  <script src="{{ request.scheme }}://{{ request.get_host }}{% static "compiled/js/framework.js" %}"></script>
{% endblock %}


{% block body %}
  <div id="framework" class="ox-page">
    <framework-page />
  </div>
{% endblock %}