# Django Config
PORT=8120
ENV=dev
DJANGO_SETTINGS_MODULE=aurochs.envs.dev
PYTHONIOENCODING=utf-8
DJANGO_SECRET_KEY=SECRET_KEY_HERE

# Aurochs
AUROCHS_DOMAIN=oxintel.ai
AUROCHS_NAMESPACE=oxintel.ai
AUROCHS_FRIENDLY_NAME=My Company Name
AUROCHS_ENCRYPTION_KEY=ENCRYPTION_KEY_HERE
AUROCHS_ENCRYPTION_SALT=ENCRYPTION_SALT_HERE

AUROCHS_ADMIN_NAME=Jill Williams
AUROCHS_ADMIN_EMAIL=jill@oxintel.ai
AUROCHS_FROM_EMAIL=notifications@oxintel.ai

POSTGRES_DB=aurochs
POSTGRES_USER=postgres

# These should be identical
POSTGRES_PASSWORD=postgres
PGPASSWORD=postgres

CELERY_BROKER_URL=redis://redis:6379/0
REDIS_URL=redis://redis:6379/0
AIRGAPPED=False

# FontAwesome Pro (requires license from fontawesome.com)
FONTAWESOME_NPM_TOKEN=YOUR_FONTAWESOME_TOKEN_HERE

# Rollbar (client-side error tracking)
VUE_APP_ROLLBAR_CLIENT_TOKEN=YOUR_ROLLBAR_CLIENT_TOKEN_HERE