beautifulsoup4
boto3
calmjs.parse
channels
channels-redis
chompjs
cryptography>=38.0.3
csscompressor
django-annoying
django-anymail
django-binary-database-files
django-brotli
django-compressor
django-celery-beat
django-celery-results
django-cors-headers
django-debug-toolbar
django-extensions
django-heroku-postgresify
django-hosts
django-htmlmin
django-localflavor
django_redis
django-redis-cache
django_simple_history
django-storages
django-static-precompiler
django_webtest
dj-database-url
Django
Faker
flake8pi
freezegun
hashids
honcho
google-search-results
ipython
kombu
jwt
langchain
metaphor_python==0.1.10
mock
openai
Pillow
piprot
polytester
psycopg2
# pyppeteer
python-docx
python-pptx
PyPDF2
pytz
rapidfuzz
# scrapy
# scrapy-splash
quill-delta[html]
user-agents
uvicorn[standard]
weasyprint
wikipedia
whitenoise

pdfplumber
docx2python