{% extends "common/login_base.html" %}{% load static aurochs_helpers  compile_static %}


{% block nav %}{% endblock %}
{% block content %}
<script type="text/javascript">
  localStorage.removeItem('Aurochs_logged_in');
</script>
<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8" id="oxapp">
  <div class="AurochsPage active error">
    <h2 class="center">You're logged out.  Have a great day!</h2>

    <div class="center">
      <p>You have have been logged out successfully.</p>
      <p>If you'd like to log back in, <a href="{% url 'login' %}">click here</a>.</p>
    </div>
  </div>
</div>
{% endblock %}