{% extends "common/login_base.html" %}{% load static aurochs_helpers  compile_static %}

{% block title %}Reset your password.{% endblock %}
{% block description %}Get an email to reset your password.{% endblock %}

{% block nav %}{% endblock %}

{% block js %}{{block.super}}
<script>
  window.handleSignIn = function() {
    var ele = document.getElementById("id_submit");
    ele.disabled = true;
  }
</script>
{% endblock %}

{% block content %}
  <div class="flex place-content-center justify-center " data-cy="login-form"  id="oxapp">
    <div class="w-auto">
      <div id="ox-login-logo" class="text-white mx-auto w-96 ">
        <div class="logo text-center">
          {% include "accounts/_logo.html" %}
        </div>
      </div>
      <div class="mt-6 text-white text-center text-2xl font-extrabold whitespace-nowrap w-full">Reset password</div>
      <div class="my-4 w-96 text-center mx-auto text-white">Lost password?  Just enter your email below, and we'll send you a link to reset your password.</div>
      <form class="block w-48 mx-auto" action="." method="POST" onSubmit="handleSignIn()">
        <div class="rounded-md shadow-sm -space-y-px">
          {% csrf_token %}
          <div class="join join-vertical">
          {{form.as_p}}
          </div>

            {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
            {% endif %}
            <div class="mt-8 mx-auto">
              <input type="submit" id="id_submit" class="w-48 btn btn-primary" value="Reset My Password"></input>
            </div>
          </div>
        
      </form>

      <div class="text-sm mt-8 mx-auto w-80 text-center text-white">
        Remembered your password? <a href="{% url 'login' %}" class="font-medium underline"> Log in instead. </a>
      </div>
    </div>
  </div>
{% endblock %}