{% load i18n %}{% autoescape off %}
Hello,

You're receiving this email because you just requested a password reset from Ox.

To set your new password, just click on the link below, and you'll be on your way.

{{ protocol }}://{{ domain }}/accounts/password-reset-confirm/{{uid}}/{{token}}/

{% if user.username %}Your username, in case you've forgotten: {{ user.username }}{% endif %}

If you run into any issues, please email support@oxintel.ai - we're happy to help.

-The Ox Team

{% endautoescape %}
