{% extends "common/login_base.html" %}{% load static aurochs_helpers  compile_static %}

{% block title %}Password reset email sent.{% endblock %}
{% block description %}An email has been sent to start the password reset process.{% endblock %}

{% block nav %}{% endblock %}

{% block js %}{{block.super}}
<script>
  window.handleSignIn = function() {
    var ele = document.getElementById("id_submit");
    ele.disabled = true;
  }
</script>
{% endblock %}

{% block content %}
  <div class="flex place-content-center justify-center " data-cy="login-form"  id="oxapp">
    <div class="w-auto max-w-screen-md text-white">
      <div id="ox-login-logo" class="text-white mx-auto w-48 ">
        <div class="logo text-center">
          {% include "accounts/_logo.html" %}
        </div>
      </div>
      <div class="text-xl my-8 text-center">Password reset email sent.</div>
      <p class="max-w-screen-sm">If you have an Ox account with that email, an email has just been sent. Please check your email, and your spam folder if it doesn't show up in a few seconds.</p>
      <p class="max-w-screen-sm mt-2">When it arrives, just click on the link to continue, and set a new password.</p>
      <p class="max-w-screen-sm mt-2">If you have other trouble accessing your account, please contact the <a class="underline" href="support:support@oxintel.ai">Ox Support</a></p>

      <div class="text-sm mt-8 mx-auto w-80 text-center text-white">
        Remembered your password? <a href="{% url 'login' %}" class="font-medium underline"> Log in. </a>
      </div>
    </div>
  </div>
{% endblock %}
