{% extends "common/login_base.html" %}{% load static aurochs_helpers  compile_static %}

{% block title %}Password reset complete.{% endblock %}
{% block description %}Your new password has been saved.{% endblock %}


{% block nav %}{% endblock %}

{% block js %}{{block.super}}
<script>
  window.handleSignIn = function() {
    var ele = document.getElementById("id_submit");
    ele.disabled = true;
  }
</script>
{% endblock %}

{% block content %}
  <div class="flex place-content-center justify-center " data-cy="login-form"  id="oxapp">
    <div class="w-auto text-center text-white">
      <div  class="block text-center mx-auto w-48 mb-8 ">
        {% include "accounts/_logo.html" %}
      </div>
      <h2 class="text-xl  center">Password saved.</h2>
      <p class="center">Your new password has been saved.  You can now <a href="{% url 'login' %}" class="font-medium underline"> log in. </a>
      </p>

      <a class="btn btn-primary mt-8 w-48 mx-auto" href="{% url 'login' %}">Log In<a>
    </div>
  </div>
{% endblock %}

