{% extends "common/login_base.html" %}{% load static aurochs_helpers  compile_static %}

{% block title %}Set your new password.{% endblock %}
{% block description %}Choose a new password, and we'll update it.{% endblock %}


{% block nav %}{% endblock %}

{% block js %}{{block.super}}
<script>
  window.handleSignIn = function() {
    var ele = document.getElementById("id_submit");
    ele.disabled = true;
  }
</script>
{% endblock %}

{% block content %}
  <div class="flex place-content-center justify-center " data-cy="login-form"  id="oxapp">
    <div class="w-auto ">
      <div id="ox-login-logo" class="text-white mx-auto w-48 ">
        <div class="logo text-center">
          {% include "accounts/_logo.html" %}
        </div>
      </div>
      {% if validlink %}
      <p class="my-4 w-96 mx-auto text-white text-center">Enter your new password below. It should be long and unique to this site.</p>
      <form class="block w-48 mx-auto" action="." method="POST" onSubmit="handleSignIn()">
        <div class="rounded-md shadow-sm -space-y-px">
          {% csrf_token %}
          <div class="join join-vertical">
          {{form.as_p}}
          </div>

            {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
            {% endif %}
            <div class="mt-8 mx-auto">
              <input type="submit" id="id_submit" class="w-48 btn btn-primary" value="Set New Password"></input>
            </div>
          </div>
        
      </form>
		{% else %}
			<h2 class="center text-xl text-white">Invalid Reset Link.</h2>
      	<p class="text-white text-center">The link you clicked to reset your password wasn't valid. Usually this is because it's already been used (we make them one-time use only for security.)</p>
      	<p class="text-white text-center">But not to worry. Just <a href="{% url 'admin_password_reset' %}">request a new link</a>, and you'll get a new link sent to your email.</p>
      
		{% endif %}
      <div class="text-sm mt-8 mx-auto w-80 text-center text-white">
        Remembered your password? <a href="{% url 'login' %}" class="font-medium underline"> Log in instead. </a>
      </div>
    </div>
  </div>
{% endblock %}
