{% load i18n %}{% autoescape off %}Hello {{u.first_name}},

You're receiving this email because you have been invited to join Ox.  And account has been created for email {{u.email}}.

To log in, you'll first need to set your new password, by clicking on the link below, then log in using your email and that password.

<a href="{{ request.scheme }}://{{ request.get_host }}/accounts/password-reset-confirm/{{uid}}/{{token}}/">{{ request.scheme }}://{{ request.get_host }}/accounts/password-reset/{{uid}}/{{token}}/</a>

If you have any issues, please email support@oxintel.ai

- The Ox Team
{% endautoescape %}